In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('customer.csv').iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [9]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,:2],
                                                 df.purchased,
                                                 test_size=0.3,
                                                 random_state=0)

X_train.shape,X_test.shape

((35, 2), (15, 2))

In [22]:
# performing ordinal encoding on input

from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(X_train)

X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

In [23]:
X_train_encoded = pd.DataFrame(X_train_encoded,columns=X_train.columns)
X_test_encoded = pd.DataFrame(X_test_encoded,columns=X_test.columns)

In [43]:
X_train_encoded.head()

   review  education
0     0.0        0.0
1     0.0        2.0
2     0.0        2.0
3     2.0        1.0
4     1.0        1.0

In [45]:
# performing label encoding on output

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

y_train_scaled = le.transform(y_train)
y_test_scaled = le.transform(y_test)

In [46]:
y_train_scaled = pd.Series(y_train_scaled)
y_test_scaled = pd.Series(y_test_scaled)

In [47]:
y_train_scaled.head()

0    1
1    1
2    1
3    1
4    1
dtype: int64