In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('train.csv')
df.sample(10)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
11845,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16172,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8237,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13612,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7944,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9820,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2601,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12917,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32486,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df['label'].nunique()

10

In [7]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,1:],df.iloc[:,0],test_size=0.2,random_state=10)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [11]:
log = LogisticRegression()
log.fit(X_train,y_train)
y_pred1 = log.predict(X_test)

C:\Users\aashi\anaconda3\envs\Virt1\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)
y_pred2 = dtree.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Accuracy of Logistic Regression",accuracy_score(y_test,y_pred1))
print("Accuracy of Decision Trees",accuracy_score(y_test,y_pred2))

Accuracy of Logistic Regression 0.916547619047619
Accuracy of Decision Trees 0.8594047619047619

In [18]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,10)))

Logistic Regression Confusion Matrix

     0    1    2    3    4    5    6    7    8    9
0  762    0    2    3    4    5   12    1    6    1
1    0  924    5    5    1    1    0    3    6    1
2    4    9  769   17   12    2   12    6   21    4
3    7    2   20  770    0   27    2    9   14    5
4    1    2    7    2  778    1    5    3    4   23
5    8    2   10   23    4  660   13    3   43    7
6    4    2    8    1    6   10  751    1    4    0
7    4    1   10    8    7    3    1  805    3   27
8    3   15   17   33    4   24   10    4  711   15
9    2    0    2   17   25    2    0   30    8  769

In [19]:
print("Decision Tree Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,10)))

Decision Tree Confusion Matrix

     0    1    2    3    4    5    6    7    8    9
0  722    0   19    5   10   10   11    2   11    6
1    2  899    8    7    2    6    2    7   12    1
2   12    9  708   28   11    9   14   21   29   15
3    9    6   26  705    8   35   11    9   29   18
4    5    9    9    6  709    8   17   12   20   31
5   10    8    8   37   14  619   22   11   29   15
6    5   10   16    3   17   20  696    2   15    3
7    3    6   14   14   15   10    0  778    5   24
8    7   17   21   34   23   29   11   12  658   24
9    5    4   13   26   27   15    2   23   15  725

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96       796
           1       0.97      0.98      0.97       946
           2       0.90      0.90      0.90       856
           3       0.88      0.90      0.89       856
           4       0.93      0.94      0.93       826
           5       0.90      0.85      0.88       773
           6       0.93      0.95      0.94       787
           7       0.93      0.93      0.93       869
           8       0.87      0.85      0.86       836
           9       0.90      0.90      0.90       855

    accuracy                           0.92      8400
   macro avg       0.92      0.92      0.92      8400
weighted avg       0.92      0.92      0.92      8400

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.93      0.91      0.92       796
           1       0.93      0.95      0.94       946
           2       0.84      0.83      0.83       856
           3       0.82      0.82      0.82       856
           4       0.85      0.86      0.85       826
           5       0.81      0.80      0.81       773
           6       0.89      0.88      0.88       787
           7       0.89      0.90      0.89       869
           8       0.80      0.79      0.79       836
           9       0.84      0.85      0.84       855

    accuracy                           0.86      8400
   macro avg       0.86      0.86      0.86      8400
weighted avg       0.86      0.86      0.86      8400