In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import MissingIndicator,SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])
df.tail()

     Survived   Age   Fare
886         0  27.0  13.00
887         1  19.0  30.00
888         0   NaN  23.45
889         1  26.0  30.00
890         0  32.0   7.75

In [3]:
X = df.drop(columns=['Survived'])
y = df.Survived

In [4]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

# Simple Imputer

In [5]:
trf1 = SimpleImputer();
X_train_trf1 = trf1.fit_transform(X_train)
X_test_trf1 = trf1.transform(X_test)

In [6]:
trf1.statistics_

array([29.94387435, 31.98429199])

# Missing Indicator

In [7]:
trf2 = MissingIndicator()
X_train_missing = trf2.fit_transform(X_train)
X_test_missing = trf2.fit_transform(X_test)

In [8]:
X_train_trf2 = X_train
X_train_trf2['Age_NA'] = X_train_missing

X_test_trf2 = X_test
X_test_trf2['Age_NA'] = X_test_missing

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train_trf2)
X_test_trf2 = si.transform(X_test_trf2)

In [9]:
X_train_trf2

array([[ 30.        ,  93.5       ,   0.        ],
       [ 25.        ,   0.        ,   0.        ],
       [ 70.        ,  71.        ,   0.        ],
       ...,
       [ 24.        ,  13.        ,   0.        ],
       [ 29.94387435,   8.1125    ,   1.        ],
       [ 22.        , 135.6333    ,   0.        ]])

# Use Logistic Regression to compare accuracy

In [10]:
clf1 = LogisticRegression()
clf1.fit(X_train_trf1,y_train)
y_pred1 = clf1.predict(X_test_trf1)

accuracy_score(y_test,y_pred1)

0.6480446927374302

In [11]:
clf3 = LogisticRegression()
clf3.fit(X_train_trf2,y_train)
y_pred2 = clf3.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.664804469273743