In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('messages.csv').iloc[:,[0]]
df.sample()

                    date
363  2013-04-10 23:31:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [11]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.9 KB

In [15]:
df['hour'] = df['date'].dt.hour
df['min'] = df['date'].dt.minute
df['sec'] = df['date'].dt.second

df.head()

                 date  hour  min  sec
0 2013-12-15 00:50:00     0   50    0
1 2014-04-29 23:40:00    23   40    0
2 2012-12-30 00:21:00     0   21    0
3 2014-11-28 00:31:00     0   31    0
4 2013-10-26 23:11:00    23   11    0

In [17]:
df['time'] = df['date'].dt.time

df.head()

                 date  hour  min  sec      time
0 2013-12-15 00:50:00     0   50    0  00:50:00
1 2014-04-29 23:40:00    23   40    0  23:40:00
2 2012-12-30 00:21:00     0   21    0  00:21:00
3 2014-11-28 00:31:00     0   31    0  00:31:00
4 2013-10-26 23:11:00    23   11    0  23:11:00

In [21]:
import datetime

In [23]:
today = datetime.datetime.today()

In [25]:
today - df['date']

0     3888 days 18:20:35.652887
1     3752 days 19:30:35.652887
2     4238 days 18:49:35.652887
3     3540 days 18:39:35.652887
4     3937 days 19:59:35.652887
                 ...
995   4527 days 18:20:35.652887
996   3848 days 19:56:35.652887
997   4313 days 19:33:35.652887
998   4429 days 19:36:35.652887
999   3701 days 19:45:35.652887
Name: date, Length: 1000, dtype: timedelta64[ns]

In [29]:
(today - df['date'])/np.timedelta64(1,'h')

0       93330.343237
1       90067.509904
2      101730.826570
3       84978.659904
4       94507.993237
           ...
995    108666.343237
996     92371.943237
997    103531.559904
998    106315.609904
999     88843.759904
Name: date, Length: 1000, dtype: float64